.projects {
    background-color: #F1E2FF;
}

.projectsWrapper {
    border: 1px solid #000;
}

.projectsTitle {
    text-align: center;
    margin-bottom: 30px;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.projectsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
