.aducationItem {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aducationItem:hover {
    transform: scale(1.5);
    transition: 500ms;
    cursor: pointer;
    transition-duration: 1s;
}

@media (min-width: 360px) {
    .aducationItem {
        margin: 0 auto;
        width: 43%;
        margin-bottom: 30px;
    }
}

@media (min-width: 1024px) {
    .aducationItem {
        width: 19%;
    }
}