.slogan {
    background-color: #FFFEEC;
    min-height: 300px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.sloganTitle {
    text-align: center;
    margin-bottom: 30px;
}

.sloganBtn {
    display: block;
    margin: 0 auto;
}