.skillsItem {
    width: 27%;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

.skillsImg {
    width: 50px;
    height: 50px;
    margin-bottom: 30px;
}

.skillsTitle {
    font-weight: 700;
}

@media (max-width: 660px) {
    .skillsItem {
        width: 100%;
        margin-bottom: 20px;
    }
}