.main {
    height: 100vh;
    background-color: #1F1F20;
    position: relative;
    z-index: -1;
    box-sizing: border-box;
}

.mainTitle {
    width: 57%;
    font-size: 20px;
    line-height: 40px;
    font-weight: 400;
}

.mainTitle span {
    position: relative;
    font-size: 50px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 5px;
}
.mainTitle span:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20px;
    width: 100%;
    z-index: -1;
    background: #ea548d;
    box-sizing: border-box;

}
.mainWrapper {
    padding-top: 150px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.mainImg {
width: 300px;
max-height: 430px;
    transform: translateZ(50px);
}
.mainImgWrapper {
    position: relative;
}
.mainImgWrapper span {
    position: absolute;
    top: 0px;
    bottom: 0;
    z-index: -9;
    height: 96%;
    width: 88%;
    border: 5px solid #e9548d;
    transform: scale(1.13) translate(10%, 0px);
    left: 0;
    right: 0;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (max-width: 660px) {
    .mainTitle {
        width: 100%;
    }

    .mainImg {
        width: 100%;
        height: auto;
    }
}