.skills {
    padding: 7% 0;
    /*min-height: 100vh;*/
    background-color: #252527;
    box-sizing: border-box;
}


.skillsBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 760px) {
    .skillsBlock {
        justify-content: space-around;
    }

}

