.projectItem {
    width: 45%;
    flex-direction: column;
    justify-content: center;
}

.projectItemImg {
    position: relative;
    margin-bottom: 30px;
    max-width: 450px;
    height: 300px;
    box-sizing: border-box;
}
.projectImg {
    width: 100%;
    height: auto;
}

.projectTitle {
    font-weight: 700;
}

.projectBtn {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 70px;
    width: 450px;
    height: 300px;
    background-color: rgba(160,160,160,0.7);
    box-sizing: border-box;
    z-index: 1;
    transition: all .3s ease;
}
.projectItemImg:hover .projectBtn {
    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
    transition: all .3s ease;
}

.projectButton {
    margin-bottom: 20px;
    width: 150px;
}

@media (max-width: 1024px) {
    .projectItem {
        width: 100%;
        max-width: 450px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .projectItemImg {
        width: 100%;
        height: auto;
    }

    .projectBtn {
        width: 100%;
        height: 100%;
    }

}
