.header {
    width: 100%;
    min-height: 70px;
    background-color: rgba(31,31,32,0.5);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.headerList {
    list-style: none;
    margin: 0;
    padding: 25px 0;
    display: flex;
    justify-content: flex-end;
}

.headerList li {
    margin-right: 50px;
}

.headerList li:last-child {
    margin-right: 0;
}

.headerLink {
    color: #e9548d;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-decoration: none;
}
.headerLink:hover,
.headerLink:focus {
    color: #ef0b63;
}

@media (max-width: 660px) {
    .headerList li {
        margin-right: 20px;
    }
    .headerLink {
        color: #000;
        font-weight: 700;
        font-size: 16px;
        padding: 10px 0;
        text-decoration: none;
    }
}