.header {
    width: 100%;
    background-color: rgba(54, 54, 57, 1);
    position: fixed;
    z-index: 2;
}

.navList{
    list-style: none;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.navList li {
    margin-right: 50px;
}

.navList li:last-child {
    margin-right: 0;
}

.navLink {
    color: #1D6CFF;
    padding: 5px 0;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.navLink:hover,
.navLink:focus {
    color: #6c9dfa;
    border-bottom: 1px solid #6c9dfa;
    transition-duration: 0.5s;
}

@media (max-width: 559px) {
    .navList li {
        margin-right: 20px;
    }
    .navLink {
        font-size: 14px;
        line-height: 18px;
    }
}

@media (min-width: 660px) {
    .navLink {
        font-size: 16px;
        line-height: 18px;
    }
}