.footer {
    background-color: #252527;
    padding: 30px 0;
    position: relative;
}


.footerTitle {
    margin: 0;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.footerList {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footerIcon {
     width: 50px;
     height: 50px;
 }

.footerIcon:hover,
.footerIcon:focus {
    filter: brightness(0.6);
    transition-duration: 0.5s;
}

.footerText {
    margin: 0;
    text-align: center;
    color: #cccccc;
    font-weight: 400;
    font-size: 14px;
}



