.footer {
    background-color: #EBFFE3;
    height: 30vh;
}

.footerWrapper {
    max-width: 1170px;
    padding: 0 15px;
    border: 1px solid #000;
    margin: 0 auto;
}

.footerTitle {
    text-align: center;
    margin-bottom: 30px;
}

.footerList {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footerIcon {
    width: 50px;
    height: 50px;
    background-color: #666;
}

.footerText {
    text-align: center;
}