.footer {
    background-color: #252527;
    padding: 30px 0;
}


.footerTitle {
    margin: 0;
    text-align: center;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.footerList {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footerIcon {
    width: 50px;
    height: 50px;
    background-color: #666;
}

.footerText {
    margin: 0;
    text-align: center;
    color: #cccccc;
    font-weight: 400;
    font-size: 14px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


@media (max-width: 660px) {
    .footerList {
        width: 100%;
    }
}