body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: 400;
  background-color: #000000;
  font-family: 'Poppins', 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media (min-width: 360px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    box-sizing: border-box;
  }
}
@media (min-width: 760px) {
  .container {
    width: 730px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



/*.button {*/
/*  background-color: transparent;*/
/*  display: block;*/
/*  margin: 0 auto;*/
/*  font-size: 26px;*/
/*  line-height: 30px;*/
/*  font-weight: 400;*/
/*  color: #ffffff;*/
/*  letter-spacing: 3.5px;*/
/*  padding: 5px 0;*/
/*  background-image: linear-gradient(to top, #e9548d 10%,#e9548d 30%, transparent 30%);*/
/*  border: none;*/
/*  cursor: pointer;*/
/*  text-decoration: none;*/
/*}*/

/*.button:hover,*/
/*.button:focus {*/
/*  background-image: linear-gradient(to top,#e9548d 0%,#e9548d 100%);*/
/*  transition: background 1s ease;*/
/* */
/*}*/

.title {
  margin: 0;
  margin-bottom: 80px;
  position: relative;
  font-size: 30px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 60px;
  margin-left: -30px;
  background: #1D6CFF;
  width: 60px;
  height: 2px;
}

@media (max-width: 759px) {
  .title {
    font-size: 24px;
    line-height: 32px;
  }
}

.button {
display: block;
text-decoration: none;
letter-spacing: 1px;
padding: 7px 20px;
cursor: pointer;
-webkit-transition: all .4s ease-in-out 0s;
transition: all .4s ease-in-out 0s;
background: transparent;
color: #fff;
margin: 15px auto;
z-index: 0;
text-align: center;
border-radius: 0;
border: none;
position: relative;
}

.button::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  background: #1D6CFF;
  z-index: -1;
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  margin: 0 auto;
}


.button:hover,
.button:focus {
  box-shadow: 0 10px 20px rgba(0,0,0,.1);
  color: #fff;
}
.button:hover::after {
  height: 100%;
  width: 100%;
  -webkit-transition: .5s;
  transition: .5s;
}