.contacts {
    background-color: #1F1F20;
    padding: 100px 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.contactsTitle {
    margin: 0;
    margin-bottom: 70px;
    position: relative;
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: center;
}

.contactsTitle::after {
    content: "";
    position: absolute;
    left: 47%;
    top: 50px;
    background: #1D6CFF;
    width: 55px;
    height: 1px;
}

input {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #333333;
    border: 1px solid #1D6CFF;
    border-radius: 5px;
}

textarea {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #333333;
    border: 1px solid #1D6CFF;
    border-radius: 5px;
}

form {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 759px) {
    form {
        width: 85%;
    }
}