.contacts {
    background-color: #1F1F20;
    padding: 100px 0;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


input {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #333333;
    border: 1px solid #626262;
    border-radius: 5px;
    outline-color: #1D6CFF;
}

textarea {
    padding: 5px;
    margin-bottom: 20px;
    background-color: #333333;
    border: 1px solid #626262;
    border-radius: 5px;
    outline-color: #1D6CFF;
}

form {
    margin: 0 auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 759px) {
    form {
        width: 85%;
    }
}